$colors: (
  common: (
    white: #ffffff,
    black: #000,
  ),
  heading: (
    primary: #171151,
  ),
  grey: (
    1: #f2f5fa,
  ),
  text: (
    body: #171151,
    1: #a9b7d1,
    2: #8a879f,
    3: #b7b6c4,
  ),
  theme: (
    primary: #171151,
    secondary: #215488,
    blue: #215488,
    pink: #f72a75,
    sky: #42bfff,
  ),
  border: (
    primary: #eceef3,
    secondary: #d1d6e0,
  ),
  icon: (
    blue: #215488,
    blue-light: #e7efff,
    green: #215488,
    green-light: #e7faf6,
    pink: #f72a75,
    pink-light: #feeaf1,
    sky: #42bfff,
    sky-light: #ecf9ff,
    red: #ff0000,
    tweet: #1da1f2,
    fb: #4267b2,
    skype: #00a6e4,
  ),
);
